.add-user {
  width: 90%;
  max-width: 40rem;
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
}

.add-user form {
  width: 100%;
}

.add-user > button {
  margin: 0 auto;
}
