.form-control {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-control label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.form-control input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.4rem 0.6rem;
}

.form-control p {
  margin: 0.6rem 0 0 0;
  color: #6e6e6e;
}

.form-control input:focus {
  outline: none;
  border-color: #5c13d3;
}

.form__actions button {
  margin-right: 1rem;
}

.form__actions button:last-of-type {
  margin: 0;
}
