.button {
  cursor: pointer;
  font: inherit;
  background: #5c13d3;
  border: 1px solid #5c13d3;
  padding: 0.5rem 1rem;
  color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

.button:hover,
.button:active {
  background: #6a1fe2;
}

.button:focus {
  outline: none;
  background: #6a1fe2;
}
