.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 40rem;
  z-index: 100;
}

.header {
  background: #5c13d3;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.header h2 {
  margin: 0;
  color: #fff;
}

.content {
  padding: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
